extends ../layout

block content
	h1.
		#{title}
	form#formAddBlob(name="addblob",method="post",action="/blobs")
		p Name: 
			input#inputName(type="text", placeholder="ex. Nordswing castle", name="name")
		p Src:
			input#inputName(type="text", placeholder="", name="src")
		p Is_deleted?: 
			input#Is_deleted(type="checkbox", name="is_deleted")
		p
			button#btnSubmit(type="submit") submit