<div>Select an image file: 

  <input type="file" id="fileInput" />
  <button ng-click="getBit()">Click ME</button>
</div>
<a href="/create_rec" class="collection-item">back</a>
<div class="cropArea">
  <img-crop 
    image="myImage" 
    result-image="myCroppedImage"
    area-type="square"
    area-min-size="128"
    on-load-begin="loadBegin()"
    on-load-done="loadDone()"
    on-load-error="loadError()"
  >
  </img-crop>
</div>
<div>Cropped Image:</div>
<div><img ng-src="{{myCroppedImage}}" /></div>
