
<button ng-click="setChange()"> Done </button>
<button ng-click="cancel()">Cancel</button>



<div class="cropArea">
  <img-crop 
    image="trumbImg" 
    result-image="trumbCroppedImg"
    area-type="square"
    area-min-size="128"
    on-load-begin="loadBegin()"
    on-load-done="loadDone()"
    on-load-error="loadError()"
  >
  </img-crop>
</div>


<!-- Modal Trigger -->
<a class="waves-effect waves-light btn modal-trigger" href="#modal1">Modal</a>

<!-- Modal Structure -->
<div id="modal1" class="modal">
  <div class="modal-content">
    <h4>Modal Header</h4>
    <p>A bunch of text</p>
  </div>
  <div class="modal-footer">
    <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
  </div>
</div>
