<!-- Dropdown Structure -->
<ul id="tools" class="dropdown-content">
  <!--<li><a href="#">
  	<i class="material-icons">playlist_add</i></a>
  </li>-->
 	<li><a href="#">
  	<i class="material-icons">delete</i></a>
  </li>
  <li><a href="#">
  	<i class="material-icons">edit</i></a>
  </li>
</ul>

<form name="collectionItems">
<nav>
  <div class="nav-wrapper">
    <ul class="collection left ul_no_style">
    	<li>
    		<!-- data-position can be : bottom, top, left, or right -->
  			<!-- data-delay controls delay before tooltip shows (in milliseconds)-->
    		<a ng-click="selectAll();" class="tooltipped" data-position="top" data-delay="50" data-tooltip="select all"><i class="material-icons">done_all</i></a>
    	</li>
    	<li>
    		<a ng-click="shufleAll();" class="tooltipped" data-position="top" data-delay="50" data-tooltip="shufle"><i class="material-icons">shuffle</i></a>
    	</li>
   	  <li>
   	  	<a ng-click="unSelectAll();" class="tooltipped" data-position="top" data-delay="50" data-tooltip="unselect all"><i class="material-icons">not_interested</i></a>
   	  </li>
    	
    </ul>	

    <ul class="right">
      <!-- Dropdown Trigger -->
	    <li><a href="#!" class="dropdown-button tooltipped" data-position="top" data-delay="50" data-tooltip="tools" data-activates="tools">
	    	<i class="material-icons"> settings  </i></a>
	    </li>
    </ul>
  </div>
</nav>

<div class="container">
	
	<!--<p>{{ recCollection }}</p>-->
  <ul class="collection ul_no_style">
    <li class="collection-item" ng-repeat="img in listImg">
    	
    	
    	<div class="row">
   		<!--
   		<input id="56efd8bfe984c7560e0d26f9" 
   		class="filled-in ng-pristine ng-untouched ng-valid ng-empty" 
   		ng-click="checkRec(this.img._id, confirmed)" ng-model="confirmed" name="56efd8bfe984c7560e0d26f9" type="checkbox">
   		-->	
	      <div class="col s1">
	      	<input type="checkbox" id={{img._id}} class="filled-in" 
	      		ng-click="checkRec(this.img._id, confirmed)"
	      		ng-model="confirmed"
	      		ng-checked="recCollection[this.img._id]['selected']"
	      	/>
					<label for={{img._id}}></label>
				</div>
				
	      <div class="col s7">{{img.name}}</div>
	      
	      <div class="col s3">small img here</div>
      </div>
  </ul>
 
</div>

</form>

<ul class="pagination">
  <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
  <li class="active"><a href="#!">1</a></li>
  <li class="waves-effect"><a href="#!">2</a></li>
  <li class="waves-effect"><a href="#!">3</a></li>
  <li class="waves-effect"><a href="#!">...</a></li>
  <li class="waves-effect"><a href="#!">100</a></li>
  <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
</ul>