<!-- Dropdown Structure -->
<ul id="tools" class="dropdown-content">
  <li><a href="#">
  	<i class="material-icons">playlist_add</i></a>
  </li>
 	<li><a href="#">
  	<i class="material-icons">delete</i></a>
  </li>
  <li><a href="#">
  	<i class="material-icons">edit</i></a>
  </li>
</ul>

<nav>
  <div class="nav-wrapper">
		<!--<li>
      	<form>
  	     <div class="input-field">
     			 <input id="search" type="search" placeholder="name">
      		 <label for="search"><i class="material-icons">search</i></label>
      		 <i class="material-icons">close</i>
    		</div>
 			 </form>
 			</li>-->
		<ul class="right">
			
      <li><a href="#">
      	<i class="material-icons">done_all</i></a>
      </li>
      <li><a href="#">
      	<i class="material-icons">shuffle</i></a>
      </li>
      <li><a href="#">
      	<i class="material-icons">clear_all</i></a>
      </li>
     
      <!-- Dropdown Trigger -->
      <li><a class="dropdown-button" href="#!" data-activates="tools">
      	<i class="material-icons right"> view_module </i></a>
      </li>
    </ul>
    
  </div>
</nav>

<div class="container">

	<!--<p>{{ listImg }}</p>-->
  <ul class="collection">
    <li class="collection-item" ng-repeat="img in listImg">
    	<div class="row">
    	<!--for checkboxes uses db id label. it's temporary. 256 id is only allow on the page for good responsible -->	
	      <div class="col s1">
	      	<input type="checkbox" id={{img._id}} class="filled-in" />
					<label for={{img._id}}></label>
				</div>
				
	      <div class="col s7">{{img.name}}</div>
	      
	      <div class="col s4">small img here</div>
      </div>
  </ul>
 
</div>



<ul class="pagination">
  <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
  <li class="active"><a href="#!">1</a></li>
  <li class="waves-effect"><a href="#!">2</a></li>
  <li class="waves-effect"><a href="#!">3</a></li>
  <li class="waves-effect"><a href="#!">...</a></li>
  <li class="waves-effect"><a href="#!">100</a></li>
  <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
</ul>